@media print {
  .Card {
    page-break-inside: avoid;
  }
}

.Card{
  position: relative;
  float: left;
  width: 56mm;
  height: 87mm;
  margin: 1mm;
  background: white;

  border: 1px solid white;
  border-radius: 2mm;
  box-sizing: border-box;

  break-before: avoid-page;
}
.Card:before, .Card:after {
  position: absolute;
  content: '';
  border: solid black;
  z-index: -1;
}
.Card:before {
  top: -10mm; bottom: -10mm;
  left: -1px; right: 0;
  border-width: 0 1px;
  border-right-color: red;
}
.Card:after {
  left: -10mm; right: -10mm;
  top: -1px; bottom: 0;
  border-width: 1px 0;
  border-bottom-color: red;
}

.icons{
  font-size: 5mm;
  position: absolute;
  left: 2mm;
  top: 2mm;

  padding-right: 2mm;
  padding-bottom: 3mm;
  
  background: white;
  border-left: 1mm solid white;
  border-top: 1mm solid white;
}
.icons.reverse{
  transform: rotate(180deg);
  left: auto;
  top: auto;
  right: 2mm;
  bottom: 2mm;
}


.icons .rank{
  text-align: center;
  letter-spacing: -0.1em;
  line-height: 0.75;
  font-size: 1.2em;
  width: 5mm;
  height: 5mm;
}
.Card.rank-10 .icons .rank,
.Card.type-hybrid .icons .rank{
  margin-left: -0.6mm;
}
.icons .suit{
  width: 1em;
  height: 1em;
  padding-top: 1mm;
}
.icons img{
  width: 100%;
  height: 100%;
}

.icons .type{
  font-size: 0.8em;
  writing-mode: vertical-lr;
  line-height: 1;
  text-transform: uppercase;
  padding-top: 1mm;
}


/*.Card.suit-hearts .icons .rank img{ 
  filter: contrast(0) sepia() saturate(70) hue-rotate(-12deg) brightness(84%);
}
.Card.suit-clubs .icons .rank img{ 
  filter: contrast(0) sepia() saturate(3) hue-rotate(124deg) brightness(87%);
}
.Card.suit-spades .icons .rank img{
  filter: contrast(0) sepia() saturate(5) hue-rotate(189deg) brightness(64%);
}*/
/*.Card.suit-monsters .icons .rank img{ 
  filter: contrast(0) sepia() saturate(10) hue-rotate();
}*/

.Card.suit-hearts .icons .suit{ 
  background-position: 2em 0em;
}
.Card.suit-clubs .icons .suit{ 
  background-position: 0em 0em;
}
.Card.suit-spades .icons .suit{
  background-position: 3em 0em;
}
.Card.suit-monsters .icons .suit{
  background-position: 1em 0em;
}


.background{
  /*display: none;*/
  position: absolute;
  top: 3mm;
  left: 3mm;
  right: 3mm;
  bottom: 3mm;
}
/*
.graphic{
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  top: 12mm;
  bottom: 12mm;
  left: 12mm;
  right: 12mm;
  filter: contrast(0) brightness(10);
}
.graphic.graphic-duel{ background-image: url('../assets/icon-duel.png') }
.graphic.graphic-headshot{ background-image: url('../assets/icon-target.png') }
.graphic.graphic-evasion{ background-image: url('../assets/icon-evasion.png') }
.graphic.graphic-landmine{ background-image: url('../assets/icon-landmine.png') }*/


.Card.suit-hearts .icons{ color: #d40000; }
.Card.suit-clubs .icons{ color: #30a386; }
.Card.suit-spades .icons{ color: #006994; }
.Card.suit-monsters .icons{ color: #262626; }

.Card.suit-hearts .background{
  background-color: #d40000;
  background-image: url('../assets/bg-hearts.png');
}
.Card.suit-clubs .background{
  background-color: #30a386;
  background-image: url('../assets/bg-clubs.png');
}
.Card.suit-spades .background{
  background-color: #006994;
  background-image: url('../assets/bg-spades.png');
}
.Card.suit-monsters .background{
  background-color: #262626;
  background-image: url('../assets/bg-monster.png');
}
.Card.suit-monsters.type-hybrid .background{
  background-color: #262626;
  background-image: url('../assets/bg-hybrid.png');
}
.Card .background{
  background-size: 8mm;
}


.title{
  font-size: 1rem;
  font-weight: bold;
  margin: 0.2em 0;
}
.description {
  position: absolute;
  bottom: 1mm;
  margin: 0 13mm 0 0;
  padding: 2mm 2mm 3mm 3mm;

  text-align: left;
  font-size: 0.5rem;
  letter-spacing: -0.05em;
  line-height: 1.2;
  background: white;
}
.description-hybrid{
  font-size: 0.55rem;
  font-style: italic;
}
.description.reverse{
  transform: rotate(180deg);
  bottom: auto;
  top: 1mm;
  margin: 0 0 0 13mm;
}



/*.Card b.action{ color: red; }
.Card b.attack{ color: blue; }
.Card b.monster{ color: green; }
.Card b.hybrid{ color: darkolivegreen; }*/


